doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge, chrome=1')
    title Test
    script(type='text/javascript', src=js_libFile defer)
    script(type='text/javascript', src=js_appFile defer)
  body
    .root-anchor
